{% extends "home_page.html" %}
<!-- Эта строка указывает, что текущий шаблон наследуется от другого шаблона под названием home_page.html.
Это позволяет использовать общие элементы дизайна и структуры, определенные в родительском шаблоне. -->
{% block title %} Каталог {% endblock %}
<!-- Здесь переопределяется блок с именем title, который определен в родительском шаблоне home_page.html.
В данном случае блоку присваивается значение "Каталог". Обычно такой блок используется для задания заголовков страниц. -->
{% block catalog_navigation %}
<div class="bottom-navigation">
        <p class="title">Каталог</p>
        <div class="bottom-menu">
            <a href="/catalog/iphone">iPhone</a>
            <a href="/catalog/ipad">iPad</a>
            <a href="/catalog/macbook">MacBook</a>
            <a href="/catalog/watch">Watch</a>
        </div>
</div>
{% endblock %}

<!--
Блок catalog_navigation содержит HTML-код для создания навигационного меню внизу страницы.
Внутри него находится список ссылок на различные категории продуктов: iPhone, iPad, MacBook и Watch.
Эти ссылки ведут на соответствующие маршруты, определенные в вашем приложении FastAPI.

Этот фрагмент кода добавляет специфический контент в шаблон home_page.html, включая заголовок "Каталог" и
навигационное меню с ссылками на разные продукты. Такой подход помогает поддерживать единый дизайн сайта и
упрощает управление повторяющимися элементами.
-->