<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Услуги iOStrade{% endblock %}</title>
    <link rel="stylesheet" href="/static/css/style3.css">
</head>
<!-- Здесь определяется структура HTML-документа, указывается кодировка UTF-8,
задаётся заголовок страницы ("Услуги iOStrade") и подключается таблица стилей style3.css из директории static. -->
<body>

    {% block menu %}
    <nav>
        <div class="menu">
            <a href="/catalog">Каталог</a>
            <a href="/warranty">Гарантия</a>
            <a href="/contacts">Контакты</a>
        </div>
    </nav>
    {% endblock %}
<!-- Блок menu создаёт навигационную панель с тремя ссылками: на каталог, гарантию и контакты.
Этот блок может быть переопределён в дочерних шаблонах. -->
    {% block content %}
    <div class="contact-info">
        <div class="column">
            <div>iOStrade</div>
            <br>
            <div>+7 931 585-55-66</div>
            <div>info@iostrade.com</div>
        </div>
        <div class="column">
            <div>АДРЕС</div>
            <br>
            <div>г. Санкт-Петербург, ул. Петрозаводская, д.13</div>
            <div>Россия</div>
        </div>
        <div class="column">
            <div>ВРЕМЯ РАБОТЫ</div>
            <br>
            <div>c 11:00 до 21:00 без выходных</div>
        </div>
    </div>
    {% endblock %}
<!--
   Блок content содержит основную информацию страницы: контактные данные компании (название, телефон, email, адрес и часы работы).
    Данные организованы в три колонки. -->
    {% block bottom_title %}
    <div class="title">
        <p >КОНТАКТЫ</p>
    </div>
    {% endblock %}
<!--   Блок bottom_title выводит заголовок "КОНТАКТЫ" в нижней части страницы. -->
</body>
</html>
<!--
Этот HTML-шаблон предназначен для отображения контактной информации компании, включающей название,
контактные данные, адрес и график работы. Шаблон использует систему блоков Jinja2, которая позволяет
легко изменять отдельные части страницы в зависимости от контекста.
-->