{% extends "home_page.html" %}

{% block title %} Apple IPhone{% endblock %}

{% block iphone %}
    <div class="bottom-navigation">
        <p class="title"> ios.trade</p>
    </div>
    <div class="catalog-container">
        <div class="image-grid">
            <a href="#">
                <img src="/static/img/ipad1.1.png" alt="Первое изображение" />
                <h2>Apple iPad Pro (M4, 2024) 13" Space Black 256GB  152 900р.</h2>
            </a>
            <a href="#">
                <img src="/static/img/ipad2.2.png" alt="Второе изображение" />
                <h2>Apple iPad Air 2024 13" Starlight 256GB 137 300р.</h2>
            </a>
            <a href="#">
                <img src="/static/img/ipad3.3.png" alt="Третье изображение" />
                <h2>Apple iPad mini 6 Wi-Fi, Pink 64GB 49 220р.</h2>
            </a>

        </div>
    </div>
{% endblock %}