{% extends "home_page.html" %}

{% block title %} Apple IPhone{% endblock %}

{% block iphone %}
    <div class="bottom-navigation">
        <p class="title"> ios.trade</p>
    </div>
    <div class="catalog-container">
        <div class="image-grid">

            <a href="#">
                <img src="/static/img/iphone/iphone1.1.png" alt="Первое изображение" />
                <h1>Apple iPhone 16 Pro Max Desert Titanium (512GB) 155 300р</h1>
            </a>
            <a href="#">
                <img src="/static/img/iphone/iphone2.2.png" alt="Второе изображение" />
                <h1>Apple iPhone 15 Pro, Black Titanium (256GB) 121 100р</h1>
            </a>
            <a href="#">
                <img src="/static/img/iphone/iphone3.3.png" alt="Третье изображение" />
                <h1>Apple iPhone 14 Pro Max, Deep Purple (256GB) 144 500р</h1>
            </a>



        </div>
    </div>
{% endblock %}