{% extends "home_page.html" %}

{% block title %} Apple MacBook{% endblock %}

{% block macbook %}
    <div class="bottom-navigation">
        <p class="title"> Apple MacBook</p>
    </div>
    <div class="catalog-container">
        <div class="image-grid">
            <a href="#">
                <img src="/static/img/mac1.1.png" alt="Первое изображение" />
                <h2>Apple MacBook Pro 14 (2024) M4 | M4 Pro Space Black (16GB,512GB) 234 500р.</h2>
            </a>
            <a href="#">
                <img src="/static/img/mac2.2.png" alt="Второе изображение" />
                <h2>Apple MacBook Air (M1, 2020) 8 ГБ, 256 ГБ SSD, серый космос (8ГБ,256ГБ) 89 500р.</h2>
            </a>
            <a href="#">
                <img src="/static/img/mac3.3.png" alt="Третье изображение" />
                <h2>Apple MacBook Air 15" (M2, 8C CPU/10C GPU, 2023), (8ГБ,512ГБ) серебристый. 163 900р.</h2>
            </a>


        </div>
    </div>
{% endblock %}