{% extends "contacts.html" %}

{% block title %} Гарантия {% endblock %}


{% block content %}
   <div class="contact-info">
        <div class="column">
        <div>  Диагностика!</div>
        <div>Диагностика устройства занимает 3 дня. В случае выявления заводского брака, мы заменим устройство на новое  </div>
        <br>
        <div>  Подменное устройство!</div>
        <div>При необходимости на время диагностики мы можем выдать подменное устройство (смартфон)</div>
        <br>
        <div>  Официальная гарантия Apple!</div>
        <div>Мы обеспечиваем официальную гарантию через представительства Apple в ОАЭ, Финляндии и Швеции</div>
        <br>
        <div>  Сервис и ремонт!</div>
        <div>В случае если диагностика не подтвердила заводской брак, предлагаем Вам воспользоваться услугами нашего сервиса</div>
        <br>
        <div>  Экономим Ваше время!</div>
        <div>Для передачи устройства на диагностику, Вы можете пригласить нашего специалиста в удобное для Вас время и место</div>
        </br>
        <div>  Постгарантийная поддержка!</div>
        <div>Приобретая устройство у нас, Вы получаете премиальное обслуживание даже после истечения гарантийного срока</div>
        </br>
        </div>
   </div>
{% endblock %}

{% block bottom_title %}
    <div class="title">
        <p >ios.trade</p>
    </div>
{% endblock %}

</body>
</html>