{% extends "home_page.html" %}

{% block title %} Apple Watch{% endblock %}

{% block watch %}
    <div class="bottom-navigation">
        <p class="title"> Apple Watch</p>
    </div>
    <div class="catalog-container">
        <div class="image-grid">
            <a href="#">
                <img src="/static/img/watch1.png" alt="Первое изображение" />
                <h3>Apple Watch Ultra 2 2024 Ultra 2 49 (Titanium) Ocean navy band  107 570р.</h3>
            </a>
            <a href="#">
                <img src="/static/img/watch2.png" alt="Второе изображение" />
                <h3>Apple Watch Series 10 Rose Gold Aliminium Case Light Blush Sport Band (42mm) 52 700р.</h3>
            </a>
            <a href="#">
                <img src="/static/img/watch3.png" alt="Третье изображение" />
                <h3>Apple Watch SE Sport Loop 2024 (44mm)  35 000р.</h3>
            </a>

        </div>
    </div>
{% endblock %}